.header {
  grid-column-start: 1;
  grid-column-end: 5;
  justify-self: stretch;
  align-self: start;
  text-align: center;
  padding: 24px;
}

.hero {
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 16px;
}

.results {
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 16px;
}

.results .results__result {
  display: flex;
  border-bottom: 1px solid grey;
  padding-bottom: 8px;
  margin-bottom: 8px;
}