.img-size{
    height: 200px;
    width: auto;
}

.btn-large {
    display: flex;
    justify-content: center;
}

@media (max-width: 990px) {
    .resizeimg {
      height: auto;
    }
  }
  
  @media (min-width: 1000px) {
    .resizeimg {
      width: auto;
      height: 350px;
    }
  }